th,td{
    font-size:12px;
    color:#000;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(129, 202, 224);
 }
 .form-control-feedback{
    line-height: 59px !important;
 }
 /* right: -166px !important */
 .btn-info{
    background-color:#2a3344a1;
  }